@font-face {
    font-family: open-sans;
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: open-sans;
}
body {
    background: url(media/web-bg02-1340x670.jpg) #12131370;
    background-size: cover;
    background-position: right;
    background-blend-mode: multiply;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    background: #fdfefe41;
    padding: 30px;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    text-align: center;
}
.title{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 0 0 10px;
}
.input-field {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: none;
    background: #ffa400;
    margin: 5px auto;
    padding: 10px;
}
.input-field input{
    width: 200px;
    margin: 10px auto;
    height: 30px;
    border: none;
    border-left: 1.5px solid;
    background: transparent;
    outline: none;
    padding: 5px;
    transition: all 0.3s ease-in-out;
}
label i {
    color: #121313;
    font-size: 20px;
    cursor: pointer;
}
.form-btn{
    background: #121313;
    color: #fdfefe;
    padding: 5px;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 10px auto;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    width: 100%;
    cursor: pointer;
}
.form-btn:hover{
    scale: 1.1;
}
form p {
    text-align: center;
}
form p a {
    text-decoration: none;
}
form p a:hover {
    text-decoration: underline;
}
.brands { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto 0 auto;
}
.brand {
    font-size: 1.5rem;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in-out;
}
.brand:hover {
    color: #fdfefe;
}